:root {
  --main-text-color: #545b6b;
  --secondary-text-color: #777;
  --hover-color: #00e1ff;
  --special-color: #6599ff;
  --main-background: #eee;
  --secodary-background: white;
  --transparent-color: rgb(15 116 143 / 70%);
  --sec-padding: 100px;
}

.pricing-sec {
  padding-top: var(--sec-padding);
  padding-bottom: var(--sec-padding);
}
/* ======================== */
.plan-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 30px;
}
.plan-content .plan-box {
  text-align: center;
}
.plan-content .plan-box .box-head {
  padding: 40px 20px;
  border-top: 1px solid var(--hover-color);
  border-bottom: 1px solid var(--hover-color);
}
.plan-content .plan-box .box-head h3 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.plan-content .plan-box .box-head div.count span {
  font-weight: bold;
  font-size: 60px;
}
.plan-content .plan-box .box-head div.count span::before {
  content: "$";
  font-size: 20px;
  position: relative;
  top: -40px;
  left: 0;
  margin-right: 15px;
  font-weight: normal;
}
.plan-content .plan-box .box-head div.count span::after {
  position: relative;
  content: "/Mo";
  font-size: 20px;
  right: -15px;
  bottom: 0;
}

.plan-content .plan-box .box-body {
  border-bottom: 1px solid var(--hover-color);
}
.plan-content .plan-box .box-body li {
  padding: 20px;
  position: relative;
}
.plan-content .plan-box .box-body li:not(:last-child):after {
  content: "";
  width: 150px;
  height: 1px;
  background-color: var(--hover-color);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.plan-content .plan-box .box-foot a {
  display: block;
  padding: 10px 30px;
  margin: 30px auto;
  width: 200px;
  color: var(--main-text-color);
  border: 1px solid var(--hover-color);
}
.plan-content .plan-box .box-foot a:hover {
  color: white;
  background-color: var(--hover-color);
}
/* ===================== */
.pricing-sec .contact {
  text-align: center;
}
.pricing-sec .contact p {
  font-size: 20px;
  color: var(--main-text-color);
}

.pricing-sec .contact a {
  display: block;
  padding: 10px 30px;
  margin: 30px auto;
  width: 200px;
  color: var(--main-text-color);
  border: 1px solid var(--hover-color);
}
.pricing-sec .contact a:hover {
  color: white;
  background-color: var(--hover-color);
}
